* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-image: url(bg-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}