* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Bitter', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Rubik Dirt', cursive; */
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #333;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.header {
    background-image: url(bg-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;

}

hr {
    margin-top: 500px;
}


.nav {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1% 10%;
    height: 70px;
    font-size: 35px;
    color: #333;
    background-color: transparent;


}

.nav ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    list-style: none;
    font-size: 20px;
    justify-content: end;
    column-gap: 22px;
}

.nav li a {
    text-decoration: none;
    color: #333;
}